.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100vw;
}
.freeBox__a0BoH {
  display: flex;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
  background: url("./images/tableBanner.jpeg") 0% 0% / cover;
  min-height: 0;
}
.freeBox__syLeK {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 33%;
  opacity: 0.95;
  background: rgb(74, 76, 79);
  min-height: 0;
}
.freeBox__ph1Ez {
  max-width: 1140px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox___5WHz {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 32px 24px;
}
.freeBox___5WHz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___5WHz > :global(.__wab_flex-container) > *,
.freeBox___5WHz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5WHz > :global(.__wab_flex-container) > picture > img,
.freeBox___5WHz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__tZFnn {
  position: relative;
  color: rgb(255, 255, 255) /* plasmic-token: T3mOqGWAXeAs */;
  font-size: 24px;
  font-weight: 700;
}
.freeBox___6Yzxd {
  position: relative;
  color: rgb(255, 255, 255) /* plasmic-token: T3mOqGWAXeAs */;
}
.freeBox__sv4Hk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__eDqbk {
  color: rgb(255, 255, 255) /* plasmic-token: T3mOqGWAXeAs */;
  font-size: 14px;
}
.freeBox__zjbNl {
  position: relative;
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
}
.freeBox__snM6Z {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__snM6Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__snM6Z > :global(.__wab_flex-container) > *,
.freeBox__snM6Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__snM6Z > :global(.__wab_flex-container) > picture > img,
.freeBox__snM6Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.linkButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
