.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
}
.freeBox__bdFz5 {
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: space-between;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___4JOs4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}
.freeBox___4JOs4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___4JOs4 > :global(.__wab_flex-container) > *,
.freeBox___4JOs4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4JOs4 > :global(.__wab_flex-container) > picture > img,
.freeBox___4JOs4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__atOo2 {
  position: relative;
  font-size: 28px;
  color: rgb(153, 141, 128) /* plasmic-token: sYMemGzYlbWI */;
}
.freeBox__srj1Q {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: 8dkbVYJKM6BK */;
  font-size: 40px;
}
.freeBox__uihRn {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
}
.freeBox__arx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.freeBox__gAr4S {
  display: flex;
  position: relative;
  height: 1px;
  flex-direction: row;
  width: 32px;
  flex-shrink: 0;
  border: 1px solid rgb(97, 96, 96) /* plasmic-token: 8dkbVYJKM6BK */;
}
.freeBox__sWeCu {
  position: relative;
  color: rgb(97, 96, 96) /* plasmic-token: 8dkbVYJKM6BK */;
}
.freeBox___7Z4Aj {
  position: relative;
  color: rgb(188, 183, 178) /* plasmic-token: Q1liMBbIUahi */;
  text-decoration-line: line-through;
}
.freeBox__uDSwN {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(24px + 12px) !important;
}
.freeBox__uDSwN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__uDSwN > :global(.__wab_flex-container) > *,
.freeBox__uDSwN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uDSwN > :global(.__wab_flex-container) > picture > img,
.freeBox__uDSwN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.linkButton__nPkxh:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__xEk3G:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__vMgRz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 40%;
  height: 100%;
  min-height: 0;
}
.img {
  position: relative;
  object-fit: contain;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: contain;
}
.img > .__wab_img-spacer > img {
  object-fit: contain;
}
.freeBox__cHwn2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__cHwn2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__cHwn2 > :global(.__wab_flex-container) > *,
.freeBox__cHwn2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cHwn2 > :global(.__wab_flex-container) > picture > img,
.freeBox__cHwn2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___1DWkv {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__rhV3G {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__uihoS {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
