.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox___2XRQl {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.freeBox___2XRQl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___2XRQl > :global(.__wab_flex-container) > *,
.freeBox___2XRQl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2XRQl > :global(.__wab_flex-container) > picture > img,
.freeBox___2XRQl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2XRQl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2XRQl > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2XRQl > :global(.__wab_flex-container) > *,
  .freeBox___2XRQl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___2XRQl > :global(.__wab_flex-container) > picture > img,
  .freeBox___2XRQl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox__aYhc1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__aYhc1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__aYhc1 > :global(.__wab_flex-container) > *,
.freeBox__aYhc1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aYhc1 > :global(.__wab_flex-container) > picture > img,
.freeBox__aYhc1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__wsC6 {
  position: relative;
  font-weight: 700;
}
.freeBox__p4NnQ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__p4NnQ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__p4NnQ > :global(.__wab_flex-container) > *,
.freeBox__p4NnQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p4NnQ > :global(.__wab_flex-container) > picture > img,
.freeBox__p4NnQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__ugJLe {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__ugJLe:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.link__deMuq {
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__deMuq:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.link__vYJzW {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__vYJzW:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.link__jGpsL {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__jGpsL:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.freeBox__zun3O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__zun3O > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__zun3O > :global(.__wab_flex-container) > *,
.freeBox__zun3O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zun3O > :global(.__wab_flex-container) > picture > img,
.freeBox__zun3O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__bXydm {
  position: relative;
  font-weight: 700;
}
.freeBox__b6Ppk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__b6Ppk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__b6Ppk > :global(.__wab_flex-container) > *,
.freeBox__b6Ppk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b6Ppk > :global(.__wab_flex-container) > picture > img,
.freeBox__b6Ppk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__idFBx {
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__idFBx:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.link__nbDW {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__nbDW:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.link___0RTGa {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___0RTGa:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.link___97Xi1 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
}
.root .link___97Xi1:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.link__xrME {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__xrME:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.freeBox__acVb1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__acVb1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__acVb1 > :global(.__wab_flex-container) > *,
.freeBox__acVb1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__acVb1 > :global(.__wab_flex-container) > picture > img,
.freeBox__acVb1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox___6JbQ7 {
  position: relative;
  font-weight: 700;
}
.freeBox__ykoNk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ykoNk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ykoNk > :global(.__wab_flex-container) > *,
.freeBox__ykoNk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ykoNk > :global(.__wab_flex-container) > picture > img,
.freeBox__ykoNk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link__gGNuj {
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__gGNuj:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.link__fB02R {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__fB02R:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.link__abh61 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__abh61:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.link__xDaHd {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__xDaHd:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.link__wntln {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__wntln:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  padding-left: 10px;
}
.freeBox__qLuGg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__qLuGg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__qLuGg > :global(.__wab_flex-container) > *,
.freeBox__qLuGg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qLuGg > :global(.__wab_flex-container) > picture > img,
.freeBox__qLuGg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__iXx3G {
  position: relative;
  font-weight: 700;
}
.freeBox__wRh3O {
  position: relative;
  font-size: 14px;
  color: rgb(160, 158, 156) /* plasmic-token: U_JdgbLlefGb */;
}
.freeBox__haHy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #cbcbcb;
  transition-property: all;
  transition-duration: 0.5s;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.root .freeBox__haHy:hover {
  box-shadow: 4px 4px 4px 4px rgb(160, 158, 156)
    /* plasmic-token: U_JdgbLlefGb */;
}
.textbox {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 5px;
  padding: 12px;
  border-width: 0px;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svg___8HFfz {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.freeBox__sYkgF {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  background: #f8f9fd;
  padding: 32px 16px;
}
.freeBox__sYkgF > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sYkgF > :global(.__wab_flex-container) > *,
.freeBox__sYkgF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sYkgF > :global(.__wab_flex-container) > picture > img,
.freeBox__sYkgF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__shylf {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__shylf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__shylf > :global(.__wab_flex-container) > *,
.freeBox__shylf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__shylf > :global(.__wab_flex-container) > picture > img,
.freeBox__shylf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__wwYxN:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__aK95E {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__aK95E:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
}
.iconLink__nmUT:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__es1Ti {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__es1Ti:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
}
.iconLink__lv8Ya:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fhBkQ {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__fhBkQ:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
}
.freeBox___24BVd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___24BVd {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.freeBox__frEcf {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__bDwI0 {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__bDwI0:hover {
  text-decoration-line: underline;
}
.link__xnoO7 {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__xnoO7:hover {
  text-decoration-line: underline;
}
