.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__dd1U {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px 0px;
}
.freeBox__dd1U > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__dd1U > :global(.__wab_flex-container) > *,
.freeBox__dd1U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dd1U > :global(.__wab_flex-container) > picture > img,
.freeBox__dd1U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dd1U {
    padding: 16px 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButton__expanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton__expanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__oktZ2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.linkButton__prn34:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__b5K5:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__w3Am:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__tyCt:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__emIaO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox___66WXm {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox___66WXm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___66WXm > :global(.__wab_flex-container) > *,
.freeBox___66WXm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___66WXm > :global(.__wab_flex-container) > picture > img,
.freeBox___66WXm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.iconLink__uVzg9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___2Ebee {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: DcDSuiESriRs */;
  width: 18px;
  height: 18px;
}
.root .svg___2Ebee:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
}
.iconLink__zXa6M:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__wBdAz {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: DcDSuiESriRs */;
  width: 18px;
  height: 18px;
}
.root .svg__wBdAz:hover {
  color: rgb(233, 156, 46);
}
.iconLink__l6WEv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___0OMQa {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: DcDSuiESriRs */;
  width: 18px;
  height: 18px;
}
.root .svg___0OMQa:hover {
  color: rgb(233, 156, 46) /* plasmic-token: Ng0pTZMOdGt8 */;
}
.freeBox___5G8Aa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.linkButton___9HN7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__jZuyA:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__n8MM2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__rd7Tw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__oBzbv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
